@model kioscov1.ViewsModel.VentasVM

<h2>Registrar Venta</h2>

<form asp-action="Create" method="post">

    <table class="table" id="productosTable">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
@*             @for (int i = 0; i < Model.Productos.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" name="Detalles[@i].ProductoId" value="@Model.Productos[i].Id" />
                        @Model.Productos[i].Nombre
                    </td>
                    <td>
                        <input type="number" step="0.01" class="form-control" name="Detalles[@i].PrecioUnitario" value="@Model.Productos[i].Precio" />
                    </td>
                    <td>
                        <input type="number" class="form-control" name="Detalles[@i].Cantidad" value="0" min="0" />
                    </td>
                </tr>
            } *@
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Guardar Venta</button>
</form>
